@{
    ViewData["Title"] = "Lista de Jugadores";
}

<h2>Jugadores</h2>


<button class="button-48 bg-add" role="button" data-bs-toggle="modal"
                                data-bs-target="#modalCrearJugador"><span
                    class="text">Añadir <i class="fa-solid fa-plus"></i></span></button>

<!-- Tabla de marcadores -->
@await Html.PartialAsync("_CreatePlayerModal")